@model IEnumerable<FitnessTracker.Models.WorkoutModels.ExerciseModels.ExerciseListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ExerciseId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkoutId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ExerciseId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkoutId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ExerciseId }) |
            @Html.ActionLink("Details", "Details", new { id = item.ExerciseId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ExerciseId })
        </td>
    </tr>
}

</table>
<input type="button" value="Add Exercises to Workouts" onclick="location.href='@Url.Action("AddExercisesToWorkouts","Exercise")'" />
