@model IEnumerable<FitnessTracker.Models.WorkoutModels.WorkoutModels.WorkoutListItem>

@{
    ViewBag.Title = "Workouts";
}

@section Styles {
    <link href="@Url.Content("~/Styles/DetailsView.css")" rel="stylesheet" type="text/css" />
}

<div class="padding-top-view">
    <h2 class="page-header title-header">@ViewBag.Title</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    @if (Model.Count() < 1)
    {
        <h3>Looks like your Workouts are empty! Click 'Create New' above to start making some.</h3>
    }
    else
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.WorkoutId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WorkoutPlanId)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.WorkoutId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WorkoutPlanId)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.WorkoutId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.WorkoutId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.WorkoutId })
                    </td>
                </tr>
            }

        </table>
        <input type="button" value="Add Workouts to Workout Plan" onclick="location.href='@Url.Action("AddWorkoutsToWorkoutPlan","Workout")'" />
    }

</div>