@model FitnessTracker.Models.MealModels.Meal.MealDetail

@{
    ViewBag.Title = "Details";
}

@section Styles {
    <link href="@Url.Content("~/Styles/DetailsView.css")" rel="stylesheet" type="text/css"/>
}


<h2>Details</h2>

<div>
    <h4 class="meal-detail-head">Meal Detail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MealId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MealId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MealPlanId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MealPlanId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FoodItems)
        </dt>
        @foreach (var food in Model.FoodItems)
        {
            <dd>
                @Html.DisplayFor(model => food.FoodItem.Name)
            </dd>
        }

    </dl>

    <button>@Html.ActionLink("Go to Food Items","Index", "FoodItem", routeValues: null, htmlAttributes: new { })</button>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MealId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
