@model IEnumerable<FitnessTracker.Models.MealModels.Meal.MealListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MealId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MealId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.MealId }) |
            @Html.ActionLink("Details", "Details", new { id = item.MealId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.MealId })
        </td>
    </tr>
}
    
</table>
<input type="button" value="Add Meals to MealPlan" onclick="location.href='@Url.Action("AddMealsToMealPlan","Meal")'" />
